// variables
$bgColorButton:  #4165a1;
$buttonTextColor:#fff;
$bgBody:linear-gradient(to left top, #c2e8fb, #a2c5fd) ;
$bgPreloader:linear-gradient(to left top, #ddebdc, #c2dec5) ;
$bgColorStatus: #f0f0f0;
$cityNameColor:#436682;
$lastUpdateColor:#a0adcd;
$bgColorInpCity: #dce2ee;
$inpCityTextColor:#7a7f85;
$statusTextColor: #7890cc;
$windTextColor: #7a7f85;

